<p id="notice"><%= notice %></p>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <style>
    body {
    padding-top: 1em;
    }
    </style>
    <div class="container-fluid">

    <div class="card-deck-wrapper">
    <div class="card-deck">

    <!-- Card 1 -->
    <div class="card">
    <div class="card-header">Recently Added Products</div>
    <div class="card-block">
    <p class="card-text">Our latest additions:</p>

<% @products.each do |product| %>
  <div class="col-sm-4">
    <div class="list-group">
      <a class="list-group-item">
        <%= product.name %>
      </a>
      <div class="list-group-item">

        <%= product.description %>

          <div class="thumbnail">
          <%= image_tag product.image, class: 'card-img-top img-fluid mx-auto d-block aspect' %>

      </div>
        <p class="pull-right"><%= number_to_currency product.price %>
        <span class="tag tag-default" ><%= product.category %></p>
      </div>
      <%= link_to 'View', product %>
    </div>
  </div>
<% end %>

</div>
</div>
</div>
</div>
</div>
<%= link_to 'New Product', new_product_path %>
<%= paginate @products %>
